@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  /* ### Primary */

  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: #52ffa8;

  /* ### Neutral */

  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

body {
  font-family: "Manrope", sans-serif;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
