@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  /* ### Primary */

  --Light-Cyan: #cfe3e8;
  --Neon-Green: #52ffa8;

  /* ### Neutral */

  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: #323a49;
  --Dark-Blue: #1f2632;
}

body {
  font-family: "Manrope", sans-serif;
}

#adviceBtn:hover {
    box-shadow: 0 0 30px #52ffa8;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
